<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title> Welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<style type="text/css">
	.in{
		height: 300px;
		width: 300px;
	}
	
</style>

<body style=" background:cornflowerblue;">

	<div align="center">
		<p style="font-size: 50px; color: cornsilk;"> Buy your medicine </p>
		<form action="#" th:action="@{/call}" >
				<label for="img">Select image:</label>
				<input type="file" id="img" name="img" accept="image/*">
			<button src ="# " class="btn btn-outline-primary" th:src="@{/call}">Submit</button>
		</form>
	</div>

</body>
</html>